#root {
    height: 100%;
}

.app{

    width: 600px;
    height: 100%;
    display: block;
    position: fixed;
    background-color: #ffffff;
    color: #1c1a1a; 
    font-family: sans-serif;
    text-align: center; 
    margin: 5% 0% 0% 30%;
    
    .header {

        margin: auto;
        text-align: center; 
    }

    .main {

        text-align: center; 

        .input{ 
            text-align: center;
            display: block;
        } 
    }

    .footer {

        text-align: center; 
    }
}