$green: #119962;
$red: #ff675d;
$pink: #e64dc4;
$yellow: #fffd54; 


#root {
    height: 100%;
    width: 100%; 
    font-family: sans-serif;
    text-align: center; 
    background-color: black; 
    
}

.app {

    height: 100%; 
    width: 100%; 
    background-color: black; 
    text-align: center; 

    .appContainer {
        text-align: center; 
        width: 30%; 
        background-color: $green; 

        .header {

            background-color: $pink;
            padding: 1em; 

        }

        .footer {

            background-color: $pink;
            padding: 1em; 

        }

        .login {
            
            background-color: $yellow;

        }

        .loadBalance {

            background-color: $red;

        }

        .send {

            background-color: $pink;

        }


    }

}

