$green: #119962;
$red: #ff675d;
$pink: #e64dc4;
$yellow: #fffd54; 


#root {
    height: 100%;
    width: 100%; 
    font-family: sans-serif;
    text-align: center; 
    background-color: black; 
    
}

.app {

    height: 100%; 
    width: 100%; 
    background-color: black; 
    text-align: center; 

    .appContainer {
        text-align: center; 
        width: 35%; 
        background-color: $red; 
        padding: 1em; 
        border-radius: 10px;

        .header {

            background-color: $green;
            padding: 1em; 
            margin: 1em; 
            border-radius: 10px;
        }

        .footer {

            background-color: $green;
            padding: 1em; 
            margin: 1em; 
            border-radius: 10px;
        }

        .menuBar {
            background-color: $yellow; 
            padding: 1em; 
            margin: 1em; 
            border-radius: 10px;
        }

        .login {
            background-color: $yellow;
            border-radius: 10px;
            padding: 1em; 
            margin: 1em; 
        }

        .wallet {
            background-color: $green; 
            border-radius: 10px;
            padding: 1em; 
            margin: 1em; 

            .walletDetails {
                text-align: left; 
                padding:  2em; 
            }
        }

        .projects {
            background-color: $pink; 
            border-radius: 10px;
            padding: 1em; 
            margin: 1em; 
            
        }

        .whiteList {
            background-color: $yellow; 
            border-radius: 10px;
            padding: 1em; 
            margin: 1em; 
        }

        .wallet {
            background-color: $pink; 
            border-radius: 10px;
            padding: 1em; 
            margin: 1em; 
            
        }

        .settings {
            background-color: $pink; 
            border-radius: 10px;
            padding: 1em; 
            margin: 1em; 

        }
    }

}

