$green: #119962;
$red: #ff675d;
$pink: #e64dc4;
$yellow: #fffd54; 


#root {
    height: 100%;
    width: 100%; 
    font-family: sans-serif;
    text-align: center; 
    
}

.app {

    background-color: white; 
    color: black; 

}

