@import "~bootstrap/scss/bootstrap";

$backgroundcolor: #fff;
$headercolor: rgb(192, 177, 177);
$maincolor: #fff;
$lightGrey: rgb(204, 202, 202);

@mixin main($color) {
  background-color: $color;
  width: calc(100vw);
  max-width: 400px;
}

body {
  margin-top: 0px !important;
  margin-bottom: opx;
  display: flex;
  justify-content: center;
  height: calc(100vh - Yream) !important;
  background-color: rgb(104, 100, 100);
}

.app {
  display: flex;
  position: relative;
  background-color: $backgroundcolor;
  justify-content: center;
  margin: 10px auto;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: -webkit-fill-available;

  .formDiv {
    display: inline-block;
    .formStatusIcon {
      display: inline-block;
    }
  }

}